
#main{
    background-color: aliceblue;
    border: solid black 1px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 50px; */
    /* grid-auto-rows: 100px; */
    /* display: inline-grid; */
    gap: 20px;
    /* column-gap: 50px; */

}
#main *{
    border-radius: 5px;
}
#a{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(135, 106, 241);
}
#b{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(11, 119, 119);
}#c{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(11, 224, 240);
}#d{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(214, 223, 223);
}#e{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(85, 241, 119);
}#f{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(215, 228, 32);
}
#g{
    border: solid black 1px;
    height: 100px;
    /* width: 200px; */
    background-color: rgb(238, 129, 102);
}
